* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100%;
}

h2 {
  color: #fafafa;
  text-align: center;
  line-height: 72px;
}

.ant-tabs-nav {
  display: flex;
}

.ant-tabs-nav .ant-tabs-tab {
  flex-grow: 1;
  margin-right: 0;
  width: 100%;
  text-align: center;
  color: #fafafa;
}

.ant-form-item {
  margin-bottom: 8px;
}
